@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.blog {
  h1 {
    margin-bottom: rem(38.4);
    line-height: 1.6;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(49);

    h2 {
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
  }

  &__resources {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    align-items: stretch;
    gap: 24px;
  }

  &__resource {
    position: relative;

    &::before {
      background: var(--gradient-accent);
    }

    a::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 3;
    }

    h3 {
      position: absolute;
      bottom: 24px;
      max-height: 136px;
      overflow: hidden;
      padding: 0 24px;
      line-height: 1.5;
      color: var(--color-white);
      z-index: 2;
    }
  }

  &__btn.btn {
    display: none;
  }

  &__all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    align-items: stretch;
    gap: 24px
  }

  @include media(tablet) {
    h1 {
      margin-bottom: 24px;
    }

    .subtitle {
      margin-bottom: 12px;
    }

    &__nav {
      margin-bottom: 24px;
    }

    img {
      height: auto;
      aspect-ratio: 5/3;
    }

    &__resources {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      gap: 16px;
    }

    &__resource {
      &:last-of-type {
        grid-column: span 2;
      }

      h3 {
        padding: 16px;
        font-size: 24px;
        bottom: 0;
      }
    }

    &__all {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      gap: 16px;
    }

    &__single {
      padding-bottom: 0;
    }
  }

  @include media(mobile-l) {
    &__nav {
      .btn {
        display: none;
      }
    }

    &__resources {
      grid-template-columns: 1fr;
      margin-bottom: 24px;
    }

    .overlay {
      &::before {
        background: var(--gradient-dark);
      }
    }

    &__resource {
      &:last-of-type {
        grid-column: auto;
      }
    }

    &__btn.btn {
      display: block;
    }
  }

  @include media(mobile-s) {
    &__resource {
      h3 {
        font-size: 18px;
      }
    }
  }
}

.recent {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--color-white);

  img {
    margin-right: rem(38.4);
    height: revert;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  h3 {
    font-size: clamp(22px, 2rem + 1vi, 32px);
    line-height: 1.2;
  }

  .btn {
    width: fit-content;
  }

  @include media(tablet) {
    flex-direction: column;
    padding: 16px;

    img {
      width: 100%;
      margin: 0 auto 16px;
    }

    &__content {
      gap: 16px;
    }
  }

  @include media(mobile-s) {
    .btn {
      width: 100%;
    }
  }
}

.article {
  position: relative;
  height: 100%;
  padding: 24px 24px 96px;
  background-color: var(--color-white);

  &::before {
    @include cover-background;

    content: "";
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 34px;
    height: 34px;
    background-image: url("../images/icons/arrow-next-icon.svg");
    transition: transform 0.4s ease-in-out;
  }

  &:hover::before {
    transform: translateX(5px) scale(1.2);
  }

  a {
    display: grid;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
    }
  }

  img {
    margin-bottom: 24px;
  }

  time {
    margin-bottom: 16px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: clamp(22px, 2rem + 1vi, 26px);
  }

  .text {
    align-self: flex-end;
    max-height: 78px;
    overflow: hidden;
  }

  @include media(tablet) {
    padding-inline: 16px;
    padding-block: 16px 60px;

    &::before {
      bottom: 20px;
      width: 25px;
      height: 25px;
    }

    img {
      margin-bottom: 16px;
    }
  }
}

.single {
  padding-bottom: 0;

  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__back {
    position: relative;
    height: 52px;
    width: 52px;
    margin-right: rem(40);

    &::before {
      @include cover-background;

      content: "";
      position: absolute;
      top: 14px;
      left: 14px;
      width: 25px;
      height: 25px;
      background-image: url("../images/icons/arrow-next-icon.svg");
      transform: rotate(180deg);
    }
  }

  &__content {
    max-width: 1113px;
    width: 100%;
    margin-left: auto;

    h2 {
      margin-bottom: 24px;
      font-size: clamp(26px, 1.5rem + 1vi, 40px);
      line-height: 1.6;
      color: var(--color-blue-700);
    }

    p {
      margin-bottom: 24px;
    }

    img {
      margin-bottom: rem(51);
    }
  }

  @include media(tablet) {
    h2,
    p {
      margin-bottom: 16px;
    }

    h2 {
      font-size: 26px;
    }

    img {
      margin-bottom: 24px;
    }
  }

  @include media(mobile-s) {
    &__nav {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      margin-bottom: 0;
    }
  }
}