@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.box {
  background-color: var(--color-gray-100);

  .title {
    text-align: center;
    margin-bottom: rem(51.2);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    img {
      height: revert-layer;
      max-width: 50%;
    }
  }

  &__inner {
    padding: rem(38.4);
    background-color: var(--color-white);

    & > *:not(:last-child) {
      margin-bottom: 24px;
    }

    ul {
      padding-left: 30px;
    }

    li {
      list-style: disc;
    }

    .title {
      text-align: left;
    }
  }

  &--accent {
    background-color: transparent;

    .box__inner {
      background-color: var(--color-gray-100);
    }
  }

  &--reverse {
    .box__content {
      flex-direction: row-reverse;
    }
  }

  &--simple {
    background-color: transparent;
  }

  @include media(tablet) {
    .title {
      margin-bottom: 24px;
    }

    &__content {
      flex-direction: column;
      gap: 16px;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
        aspect-ratio: 5/3;
      }
    }

    &__inner {
      padding: 16px;

      & > *:not(:last-child) {
        margin-bottom: 16px;
      }

      ul {
        padding-left: 16px;
      }
    }

    &--reverse {
      .box__content {
        flex-direction: column;
      }
    }
  }
}