@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.box {
  .title {
    text-align: center;
    margin-bottom: rem(51.2);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__inner {
    padding: rem(38.4);
    background-color: var(--color-gray-100);

    & > *:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}