@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

*[class].btn {
  display: inline-block;
  margin: 0;
  padding: 6px 12px;
  border: 2px solid var(--color-blue-700);
  border-radius: 0;
  font-weight: var(--fw-700);
  font-size: 18px;
  line-height: 1.2;
  color: var(--color-blue-700) !important;
  text-align: center;
  background-color: var(--color-white);
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &--reverse,
  &:hover {
    color: var(--color-white) !important;
    background-color: var(--color-blue-700);
  }

  &--reverse {
    &:hover {
      background-color: var(--color-white);
      color: var(--color-blue-700) !important;
    }
  }

  &--large {
    padding: 10px 22px;
  }
}