@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.cards {
  h2,
  &__desc {
    max-width: 802px;
    width: 100%;
    margin-inline: auto;
    text-align: center;
  }

  &__desc {
    margin-bottom: rem(50);
    letter-spacing: 0.05rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    align-items: stretch;
    gap: 24px;
  }

  &__item {
    background-color: var(--color-gray-100);
  }

  &__content {
    padding: 24px;
    text-align: center;

    h3 {
      margin-bottom: 8px;
      line-height: 1.5;
    }

    .accent {
      margin-bottom: 24px;
    }
  }
}