@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.faq {
  h2 {
    margin-bottom: rem(51);
  }

  &__item {
    overflow: hidden;
    border: 2px solid var(--color-blue-700);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  details {
    overflow: hidden;

    &[open] {
      summary::before {
        rotate: 180deg;
        filter: brightness(0) saturate(100%) invert(44%) sepia(84%) saturate(2099%) hue-rotate(167deg) brightness(101%) contrast(101%);
      }

      summary + div {
        padding: 0 32px 24px;
      }
    }
  }

  summary {
    position: relative;
    padding: 32px rem(70) 24px 32px;
    line-height: 1.2;
    font-weight: var(--fw-700);
    cursor: pointer;

    &::before {
      @include cover-background;

      content: "";
      position: absolute;
      right: 30px;
      top: 26px;
      overflow: hidden;
      width: 32px;
      height: 32px;
      background-image: url("../images/icons/collapse-icon.svg");
      transition: rotate 0.2s ease-in-out, filter 0.4s ease-in;
    }

    + div {
      padding: 0;
    }
  }

  @include media(tablet) {
    h2 {
      margin-bottom: 24px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    summary {
      padding: 16px rem(44) 16px 16px;
      font-size: 18px;

      &::before {
        top: 16px;
        right: 16px;
      }
    }

    details {
      &[open] {
        summary + div {
          padding: 0 16px 16px;
        }
      }
    }
  }
}