@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;
  padding: 0;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    min-height: 646px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .overlay {
    &::before {
      transform: translateX(-45%);
    }
  }

  &__content {
    z-index: 1;
    margin-inline: rem(90) 0;
    max-width: 493px;
    width: 100%;
  }

  &--home {
    p {
      width: 80%;
      margin-bottom: rem(38);
    }
  }

  &--company {
    p {
      width: 78%;
    }
  }

  &--services {
    h1,
    p {
      width: 79%;
    }
  }

  @include media(tablet-wide) {
    .overlay {
      &::before {
        transform: translateX(-25%);
      }
    }

    &__content {
      margin-inline: rem(30) 0;
    }
  }

  @include media(tablet) {
    &__inner {
      min-height: 550px;
    }

    .overlay {
      &::before {
        transform: translateX(0%);
        background: var(--gradient-mobile);
      }
    }
  }

  @include media(mobile-m) {
    &__inner {
      min-height: 440px;
      padding: 0 16px
    }

    &__content {
      margin: 0 auto;
    }

    &--home,
    &--company {
      p {
        width: 100%;
      }
    }
  }

  @include media(desktop-l, min) {
    &__inner {
      min-height: 750px;
      background-position: top center;
    }
  }
}