@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.info {
  background-color: var(--color-gray-100);

  &__flex {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 24px;
  }

  &__content {
    max-width: 493px;
    width: 100%;
    padding: rem(38);
    background-color: var(--color-white);

    > *:not(:last-child) {
      margin-bottom: 24px;
    }

    .btn {
      display: block;
    }
  }

  &__texts {
    p:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    align-items: stretch;
    gap: 24px;
  }

  &__card {
    padding: 24px;
    background-color: var(--color-white);

    & > *:not(:last-child) {
      margin-bottom: 24px;
    }

    .accent {
      font-size: clamp(32px, 2rem + 1vi, 48px);
      line-height: 1.2;
      font-weight: var(--fw-700);
    }
  }

  &__boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    align-items: stretch;
    gap: 24px;
  }

  &__box {
    padding: 24px;
    background-color: var(--color-gray-100);

    h3 {
      margin-bottom: 24px;
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    height: 60px;
    margin-bottom: 12px;
    padding-top: 24px;

    &::before {
      @include cover-background;

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 100%;
    }

    &--convenience::before {
      background-image: url("../images/icons/convenience-icon.svg");
    }

    &--accuracy::before {
      background-image: url("../images/icons/accuracy-icon.svg");
    }

    &--security::before {
      background-image: url("../images/icons/security-icon.svg");
    }

    &--time::before {
      background-image: url("../images/icons/time-icon.svg");
    }
  }

  &__accents {
    padding: 24px;
    text-align: center;
    opacity: 86%;

    p {
      line-height: 1.5;
      color: var(--color-blue-700);
    }
  }

  &__details {
    & > *:not(:last-child) {
      margin-bottom: rem(51.2);
    }

    .name {
      font-weight: var(--fw-700);
    }

    ol {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      align-items: stretch;
      gap: 24px;
    }

    li {
      padding: 24px;
    }

    h3 {
      margin-bottom: 24px;
    }
  }

  &--reverse {
    .info__flex {
      flex-direction: row-reverse;
    }
  }

  &--simple {
    background-color: transparent;

    .info__content {
      padding: 24px;
    }

    .info__card {
      padding-top: 14px;

      .accent {
        margin-bottom: 20px;
        line-height: 1;
        font-weight: var(--fw-900);
      }
    }
  }

  &--company {
    .info__flex {
      margin-bottom: 24px;
    }
  }

  &--customization {
    .info__flex {
      margin-bottom: rem(51.2);
    }
  }

  @include media(tablet) {
    &__flex {
      flex-direction: column;
    }

    &__content,
    &__image,
    img {
      max-width: 100%;
    }

    &__content {
      padding: 16px;

      .btn {
        width: fit-content;
      }
    }

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 2/1;
    }
  }

  @include media(mobile-s) {
    &__content {
      .btn {
        width: 100%;
      }
    }
  }
}