@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.info {
  background-color: var(--color-gray-100);

  &__flex {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 24px;
  }

  &__content {
    max-width: 493px;
    width: 100%;
    padding: rem(38);
    background-color: var(--color-white);

    > *:not(:last-child) {
      margin-bottom: 24px;
    }

    .btn {
      display: block;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    align-items: stretch;
    gap: 24px;
  }

  &__card {
    padding: 24px;
    background-color: var(--color-white);

    & > *:not(:last-child) {
      margin-bottom: 24px;
    }

    .accent {
      font-size: clamp(32px, 2rem + 1vi, 48px);
      line-height: 1.2;
    }
  }

  &--reverse {
    .info__flex {
      flex-direction: row-reverse;
    }
  }

  &--company {
    .info__flex {
      margin-bottom: 24px;
    }
  }
}