@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.request {
  &__form {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 16px;
  }

  input,
  textarea {
    padding: 10px 16px;
    border: 1px solid var(--color-blue-500);
    width: 100%;
  }

  &__input,
  &__textarea{
    width: 100%;
    height: fit-content;
  }

  &__input {
    max-width: 286px;
  }

  &__textarea {
    max-width: 389px;

    textarea {
      max-height: 48px;
      appearance: none;
      resize: none;
      white-space: nowrap;
      overflow-y: hidden;
      scrollbar-width: none;

      &::-webkit-scrollbar,
      &::-webkit-scrollbar-thumb {
        width: 0;
        background-color: transparent;
      }
    }
  }

  .btn {
    padding: 13px 32px;
    line-height: 1;
    height: fit-content;
  }
}