@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.step {
  overflow: hidden;

  .title {
    margin-bottom: rem(52);
    padding-right: rem(65);
    text-align: center;
  }

  &__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    align-items: stretch;
    gap: 24px;
    max-width: 1356px;
    width: 100%;
    padding-inline: rem(90) 24px;
    padding-block: 24px;
    counter-reset: num;
    border-top: 4px dashed var(--color-blue-500);
    border-bottom: 4px dashed var(--color-blue-500);
    border-right: 4px dashed var(--color-blue-500);
  }

  &__box {
    position: relative;
    padding-inline: 24px;
    padding-block: 0 24px;

    &::before,
    &::after {
      @include cover-background;

      content: '';
      position: absolute;
    }

    &::before {
      left: 0;
      right: 0;
      height: 30px;
      width: 100%;
      background-image: url("../images/icons/arrow-horizontal-icon.svg");
    }

    &--top::before {
      top: -41px;
    }

    &--bottom::before {
      bottom: -41px;
      transform: rotate(180deg);
    }

    &--right::after {
      height: 100%;
      top: 0;
      bottom: 0;
      right: -41px;
      width: 30px;
      background-image: url("../images/icons/arrow-vertical-icon.svg");
    }

    &--bottom:nth-child(4) {
      grid-column: 3;
      grid-row: 2;
    }

    &--bottom:nth-child(5) {
      grid-column: 2 / 3;
      grid-row: 2;
    }

    &--bottom:nth-child(6) {
      grid-column: 1 / 2;
      grid-row: 2;
    }
  }

  &__name {
    position: relative;
    margin-bottom: 24px;
    padding-top: 76px;

    &::before {
      content: "0" counter(num);
      counter-increment: num;
      position: absolute;
      top: 10px;
      left: 0;
      height: 48px;
      font-size: clamp(32px, 2rem + 1vi, 48px);
      font-weight: var(--fw-900);
      color: var(--color-blue-500);
    }
  }

  @include media(tablet-wide) {
    .title {
      padding-right: 0;
    }

    &__boxes {
      grid-auto-rows: auto;
      gap: 16px;
      padding: 16px;
    }

    &__box {
      padding: 0;

      &--top::before,
      &--bottom:before {
        width: 90%;
        height: 30px;
      }

      &--top::before {
        top: -33px;
      }

      &--bottom:before {
        bottom: -33px;
      }

      &--right::after {
        height: 90%;
        right: -33px;
        width: 30px;
      }
    }

    &__name {
      padding-top: 54px;

      &::before {
        font-size: 32px;
        height: 32px;
      }
    }
  }

  @include media(tablet) {
    .title {
      margin-bottom: 24px;
    }

    &__boxes {
      grid-template-columns: repeat(2, 1fr);
    }

    &__box {
      &--bottom:nth-child(4),
      &--bottom:nth-child(5),
      &--bottom:nth-child(6) {
        grid-column: auto;
        grid-row: auto;
      }

      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(6) {
        &::after {
          display: block;
          height: 90%;
          top: 0;
          bottom: 0;
          right: -33px;
          left: unset;
          width: 30px;
          background-image: url("../images/icons/arrow-vertical-icon.svg");
        }
      }

      &:nth-child(3),
      &:nth-child(4) {
        &::before {
          display: none;
        }
      }

      &--right {
        &::after {
          display: none;
        }
      }
    }
  }

  @include media(mobile-m) {
    &__boxes {
      grid-template-columns: 1fr;
    }

    &__box {
      &::after {
        display: block;
        height: 90%;
        top: 0;
        bottom: 0;
        right: -33px;
        left: unset;
        width: 30px;
        background-image: url("../images/icons/arrow-vertical-icon.svg");
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        &::before {
          display: none;
        }
      }
    }
  }

  @include media(desktop-l, min) {
    &__boxes {
      margin: 0 auto;
    }
  }
}