@use "./mixins/font-face"as *;

@include font-ttf("Lato", "../fonts/Lato/Lato-Regular", 400, normal);
@include font-ttf("Lato", "../fonts/Lato/Lato-Medium", 500, normal);
@include font-ttf("Lato", "../fonts/Lato/Lato-SemiBold", 600, normal);
@include font-ttf("Lato", "../fonts/Lato/Lato-Bold", 700, normal);
@include font-ttf("Lato", "../fonts/Lato/Lato-ExtraBold", 900, normal);