/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */

:root {
  --content-width: 1216px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Lato", sans-serif;

  // font-weight
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  // font-style
  --fs-italic: italic;

  // color
  --color-white: #fff;
  --color-black: #111111;
  --color-dark: #070a0b;

  --color-gray-100: #f5f5f5;
  --color-gray-500: #888888;
  --color-blue-200: #cce6ff;
  --color-blue-500: #00a8e8;
  --color-blue-700: #0078d4;

  //gradient
  --gradient-main: linear-gradient(270deg, rgba(241, 241, 241, 0) 0%, #f1f1f1 32.4%, #f1f1f1 32.41%, #f1f1f1 100%);
}