@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.security {
  img {
    margin-bottom: rem(38.4);
  }

  &__wrapper {
    padding-inline: rem(38.4);
  }

  h2 {
    margin-bottom: 24px;
  }

  &__desc {
    margin-bottom: rem(38.4);
  }

  &__content {
    & > p,
    ul {
      margin-bottom: 32px;
    }

    ul {
      padding-left: 32px;
    }

    li {
      list-style: auto;
    }
  }

  @include media(tablet) {
    padding-block: 0;

    img,
    &__desc {
      margin-bottom: 24px;
    }

    &__wrapper {
      padding-inline: 0;
    }

    &__content {
      & > p,
      ul {
        margin-bottom: 24px;
      }

      ul {
        padding-left: 16px;
      }
    }
  }

  @include media(mobile-m) {
    img {
      height: auto;
      aspect-ratio: 5 / 3;
    }
  }
}